# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Ignore long filename
static/media/gods-eater-burst-god-eater-2-logo-ace-combat-infinity-t-shirt-axe-logo-8e9782f19959bb7cc7d4ce6f4a7d4dbd.3399fdbbcb8f21228edb.png
